<div class="products-action-buttons">
    <form action="/products/new" method="GET">
        <button type="submit">Add new product</button>
    </form>

    <form action="/products/export" method="GET">
        <button type="submit">Export CSV</button>
    </form>
</div>

<br>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Size</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for (const product of products) { %>
        
            <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.description%></td>
                <td><%= product.size %></td>
                <td><%= product.price %></td>
                <td><%= product.quantity %></td>
                <td>
                    <form action="/products/<%= product.id %>" method="GET">
                        <button type="submit">Detail</button>
                    </form>
                </td>
            </tr>
        
        </div>
    
        <% } %>

    </tbody>
</table>