<%- include("_header") %>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST">     
        <tr>
            <div class="list-item">
                <td><input class="item-attribute" type="text" name="id" value="<%= product.id %>" readonly></td>
                <td><input class="item-attribute" type="text" name="name" value="<%= product.name %>"></td>
                <td><input class="item-attribute" type="text" name="size" value="<%= product.size %>"></td>
                <td><input class="item-attribute" type="text" name="price" value="<%= product.price %>"></td>
                <td><input class="item-attribute" type="text" name="quantity" value="<%= product.quantity %>"></td>
                <td>
                        <button type="submit">Update</button>
                    </td>
                    
                </div>
            </tr>
        </form>
    </tbody>
</table>


<br>
<br>

<div id="detail-bottom-section">
    <form action="/products" method="GET">
        <button type="submit">Back to list</button>
    </form>

    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <button id="delete-button" type="submit">Delete</button>
    </form>
</div>
<%- include("_footer") %>